:root{
    --navbarFontFamily: 'Lobster', cursive;
    --headersFontFamily: 'Ruslan Display', cursive;
    --pFontFamily: 'Indie Flower', cursive;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 95%;
    margin: auto;
    background: linear-gradient(90deg, rgba(42,42,42,1) 15%, rgba(218,218,218,1) 60%);
}
#backgroundImg{
    z-index: -100;
    width: 50%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    right: 0;
}
header{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    padding: 0;
}
nav ul li{
    font-family: var(--navbarFontFamily);
    padding:5px 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    list-style-type: none;
    font-size: 28px;
    font-weight:bold;
    transition: 0.6s;
}
.activePage a{
    color: goldenrod;
}
nav ul li a{
    text-decoration: none;
    color: firebrick;
}
nav ul li:hover{
    border-top: 2px solid black;
}
#orderLink{
    color: black ;
}
.trackList{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin: 2% 0%;
}
.albumCover{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}
.albumCover img{
    width: 100%;
    height: 90%;
    border-radius: 5%;
    transition: 1s;
}
.albumCover img:hover{
    filter: brightness(150%);
}
.albumSongs{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.albumSongs h1{
    font-family: var(--headersFontFamily);
    text-decoration: underline;
    font-size: 60px;
    margin: 0;
    animation-name: albumSongsTitle;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes albumSongsTitle {
    0% {}
    100% {color: #8e7d35}
}
.albumSongs ol{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.albumSongs ol li{
    font-size:x-large;
    font-weight: bold;
    font-family: var(--pFontFamily);
    color: #4a332b;
}
.AlbumAbout{
    width: 100%;
    margin: 5% 0%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background: rgba(255, 255, 255, 0.699);
}
.AlbumAbout h2{
    font-family: var(--headersFontFamily);
    color: #8e7d35;
    text-decoration: underline;
    font-size: 45px;
    margin: 0;
}
.AlbumAbout p{
    font-size:x-large;
    font-weight: bold;
    font-family: var(--pFontFamily);
    color: #4a332b;
}
.AlbumAbout p:hover>span{
    background: #8e7d35;
}
span{
    transition: 0.5s;
}
#orderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vh;
}
form{
    width: 25%;
    height: 100%;
    background: #8e7e35b6;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#orderForm h2{
    font-family: var(--headersFontFamily);
    color: #8e7d35;
    text-decoration: underline;
    font-size: 45px;
    margin: 0;
}
#orderForm form label{
    font-size:x-large;
    font-weight: bold;
    text-decoration: underline;
    font-family: var(--navbarFontFamily);
}
input, select{
    width: 50%;
    padding: 5px;
}
button{
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: underline;
    font-family: var(--navbarFontFamily);
    background: black;
    color: #8e7e35b6;
}
footer{
    text-align: center;
}
@media screen and (max-width:1140px) {
    body{
        background: white;
    }
}
@media screen and (max-width:768px) {
    #backgroundImg{
        width: 100%;
    }
    nav, ul{
        height:50%;
        position: fixed;
        right: 0;
        width: 25%;
        flex-direction: column;
    }
    header nav ul li{
        font-size: 20px;
    }
    header nav ul li:hover{
        border-top:transparent;
    }
    .trackList{
        display: flex;
        flex-direction: column;
    }
    .albumCover img{
        display: none;
    }
    main .trackList .albumSongs{
        width:65%;
    }
    .albumSongs ol{
        flex-wrap: nowrap;
        overflow: auto;  
    }
    .AlbumAbout{
        width:65%;
        height: 100vh;
        overflow: auto;
    }
    #orderForm{
        width:65%;
        margin-bottom: 20%;
    }
    #orderForm form{
        width: 100%;
    }
    .albumSongs h1, .AlbumAbout h2, #orderForm h2{
        font-size: 40px;
    }
}
@media screen and (max-width:425px) {
    #orderForm{
        margin-bottom: 50%;
    }
}